.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffe4ba;
}

.grid div {
    height: 40px;
    width: 40px;
    box-shadow: 5px 3px 3px #666;
}

.checked {
    height: 40px;
    width: 40px;
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
  }